@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Chrome autofill background */
.peer:-webkit-autofill,
.peer:-webkit-autofill:hover,
.peer:-webkit-autofill:focus,
.peer:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
}
/* hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
@media (min-width: 1024px) {
  .swiper-slide {
    opacity: 0.4;
  }

  .swiper-slide-active,
  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 1;
  }
}

